---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
    const allPosts = await Astro.glob("../posts/*.md");

    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.frontmatter.tags.includes(tag),
        );
        return {
            params: { tag },
            props: { posts: filteredPosts, uniqueTags },
        };
    });
}

const { tag } = Astro.params;
const { posts, uniqueTags } = Astro.props;
---

<style>
    ul.tag-cloud {
        display:flex;
        flex-wrap: wrap;

        list-style: none;
        padding: 0;
        margin: 0;

        li { margin: 0 0.25rem 0.25rem 0; }
    }
</style>

<BaseLayout pageTitle={tag}>

    <h2>All tags</h2>
    <ul class="tag-cloud">
        {uniqueTags.map(t=><li><a href={`/tags/${t}`}><li>{t}</li></a></li>)}
    </ul>


    <p>Posts tagged with {tag}</p>

    <ul>
        {
            posts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
